Repository CodeForPhilly/clean-and-green-philly: changes, and which pre-commit hooks are due for each by the changed paths.
All: radon-check, prettier, eslint, npm-audit

.pre-commit-config.yaml:

repos:
  # Python hooks
  - repo: local
    hooks:
      # Ruff for Python linting
      - id: ruff
        name: ruff (Python linting)
        entry: ruff check --fix
        language: python
        types_or: [python, pyi, jupyter]
        files: \.py$

      # Ruff for Python formatting
      - id: ruff-format
        name: ruff-format (Python formatting)
        entry: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        files: \.py$

      # Radon MI and Halstead checks
      - id: radon-check
        name: Radon Maintainability and Halstead Checks
        entry: |
          bash -c 'radon mi -s {} | grep -E " - [CDEF] \(" && echo "Radon MI grade below B detected!" && exit 1 || echo "All MI grades are B or above."
          radon hal {} -s | awk "/effort/ { if (\$3 > 2000) print FILENAME \": High Halstead effort:\" \$3 }"'
        language: system
        files: \.py$

  - repo: https://github.com/jendrikseipp/vulture
    rev: 'v2.3' # or any later Vulture version
    hooks:
      - id: vulture
        name: vulture (Dead code detection)
        entry: bash -c 'vulture data/ || true'
        language: python
        types: [python]
        pass_filenames: false

  # JavaScript hooks
  - repo: local
    hooks:
      # Formatting with Prettier
      - id: prettier
        name: Prettier (Code formatting)
        entry: npm run format
        language: node
        files: \.(js|jsx|ts|tsx)$

      # Linting with ESLint
      - id: eslint
        name: ESLint (JavaScript linting)
        entry: npm run lint
        language: node
        files: \.(js|jsx|ts|tsx)$

      # Dependency checks for Node.js
      - id: npm-audit
        name: Check Node.js dependencies
        entry: npm audit
        language: node
        files: ^package(-lock)?\.json$

feat(FilterView): switched standardized_address for street_address. switched some data types in schema that were off.
  data/src/data_utils/city_owned_properties.py
  data/src/data_utils/council_dists.py
  data/src/validation/city_owned_properties.py
  data/src/validation/council_dists.py
Due: radon-check

test: add li violations validtor, validator test (stats violator missing
  data/src/test/validation/test_li_violations_validator.py
  data/src/validation/li_violations.py
Due: radon-check

test: add validator, validator unit tests for access process
  data/src/test/validation/test_access_process_validator.py
  data/src/validation/access_process.py
  data/test_service.py
Due: radon-check

test: add delinquencies validator, validator unit tests
  data/analyze_delinquencies.py
  data/src/config/config.py
  data/src/data_utils/delinquencies.py
  data/src/test/validation/base_validator_test_mixin.py
  data/src/test/validation/test_delinquencies_validator.py
  data/src/validation/base.py
  data/src/validation/delinquencies.py
  data/test_service.py
Due: radon-check

feat: update test_service.py to include all possible services
  data/test_service.py
Due: radon-check

test: add validator, validator unit tests for contig neighbors
  data/analyze_contig_neighbors.py
  data/src/data_utils/contig_neighbors.py
  data/src/test/validation/test_contig_neighbors_validator.py
  data/src/validation/base.py
  data/src/validation/contig_neighbors.py
  data/test_service.py
Due: radon-check

style: ruff
  data/src/test/validation/base_validator_test_mixin.py
  data/src/test/validation/test_contig_neighbors_validator.py
  data/src/test/validation/test_delinquencies_validator.py
Due: radon-check

test: add conservatorship validator, validator unit tests
  data/src/test/validation/base_validator_test_mixin.py
  data/src/test/validation/test_conservatorship_validator.py
  data/src/validation/conservatorship.py
Due: radon-check

test: add tactical urbanism validator, validator unit tests
  data/src/test/validation/base_validator_test_mixin.py
  data/src/test/validation/test_imm_dang_buildings_validator.py
  data/src/test/validation/test_tactical_urbanism_validator.py
  data/src/test/validation/test_unsafe_buildings_validator.py
  data/src/validation/imm_dang_buildings.py
  data/src/validation/tactical_urbanism.py
  data/src/validation/unsafe_buildings.py
Due: radon-check

test: add validator for priority level, add validator unit tests, clean up other validators
  data/src/config/config.py
  data/src/data_utils/kde.py
  data/src/test/validation/test_ppr_properties_validator.py
  data/src/test/validation/test_priority_level_validator.py
  data/src/validation/ppr_properties.py
  data/src/validation/priority_level.py
  data/test_service.py
Due: radon-check

test: add dev probability validator, validator unit tests
  data/src/analyze_dev_probability.py
  data/src/data_utils/dev_probability.py
  data/src/test/validation/test_dev_probability_validator.py
  data/src/validation/dev_probability.py
Due: radon-check

style: upgrade ruff to match precommit hook
  data/pyproject.toml
  data/src/test/validation/test_contig_neighbors_validator.py
  data/src/test/validation/test_delinquencies_validator.py
  data/uv.lock
Due: radon-check

Validators for City owned properties and council districts (#1243)
  data/src/data_utils/city_owned_properties.py
  data/src/data_utils/council_dists.py
  data/src/validation/base.py
  data/src/validation/city_owned_properties.py
  data/src/validation/council_dists.py
Due: radon-check

revert some output validators changes for adding later
  data/src/constants/services.py
  data/src/data_utils/opa_properties.py
  data/src/validation/access_process.py
  data/src/validation/base.py
  data/src/validation/community_gardens.py
  data/src/validation/conservatorship.py
  data/src/validation/contig_neighbors.py
  data/src/validation/delinquencies.py
  data/src/validation/dev_probability.py
  data/src/validation/drug_crimes.py
  data/src/validation/gun_crimes.py
  data/src/validation/imm_dang_buildings.py
  data/src/validation/li_complaints.py
  data/src/validation/li_violations.py
  data/src/validation/nbhoods.py
  data/src/validation/negligent_devs.py
  data/src/validation/opa_properties.py
  data/src/validation/owner_type.py
  data/src/validation/park_priority.py
  data/src/validation/phs_properties.py
  data/src/validation/ppr_properties.py
  data/src/validation/priority_level.py
  data/src/validation/rco_geoms.py
  data/src/validation/tactical_urbanism.py
  data/src/validation/tree_canopy.py
  data/src/validation/unsafe_buildings.py
  data/src/validation/vacant_properties.py
Due: radon-check

fix test
  data/src/validation/base.py
Due: radon-check

fix: add backup vacant land and buildings data in local file for easy access + sharing
  .gitattributes
  data/backup_data/buildings_backup_2024_06_24.parquet
  data/backup_data/land_backup_2024_06_24.parquet
  data/src/data_utils/vacant_properties.py
Due: radon-check

test: finalize validation tests
  data/docker-compose.yml
  data/src/config/config.py
  data/src/data_utils/contig_neighbors.py
  data/src/data_utils/dev_probability.py
  data/src/data_utils/opa_properties.py
  data/src/data_utils/park_priority.py
  data/src/data_utils/ppr_properties.py
  data/src/data_utils/tree_canopy.py
  data/src/test/validation/test_contig_neighbors_validator.py
  data/src/test/validation/test_negligent_devs_validator.py
  data/src/validation/contig_neighbors.py
  data/src/validation/negligent_devs.py
  data/test_service.py
Due: radon-check

fix: remove obsolete files
  data/analyze_contig_neighbors.py
  data/analyze_delinquencies.py
  data/src/analyze_dev_probability.py
Due: radon-check

feat: add documentation for backup data
  data/backup_data/README.md
Due: none

fix: cleanup backend instructions
  data/pyproject.toml
  data/uv.lock
Due: none

fix: update backend docs, fix pyproject.toml
  data/.env.example
  data/pyproject.toml
  data/uv.lock
  docs/SETUP/BACK_END.md
Due: none

chore: add shutdown letter, update readme, update codeowners
  .github/CODEOWNERS
  README.md
  data/src/achievability_files.zip
  docs/PROJECT_BACKGROUND/C&GP Shutdown Letter, June 5, 2025.pdf
Due: none

fix: add philadelphia citizen op ed
  README.md
Due: none

Notes added by 'git notes add'
  438b9b73426f93d647e7ca6ad0785e72624a6ecd
Due: none

fix: automatically switch from filter to detail view when property selected
  src/app/find-properties/[[...opa_id]]/page.tsx
Due: prettier, eslint

change wording of docstrings and update metadata collection decorator
  data/src/data_utils/access_process.py
  data/src/data_utils/city_owned_properties.py
  data/src/data_utils/community_gardens.py
  data/src/data_utils/conservatorship.py
  data/src/data_utils/contig_neighbors.py
  data/src/data_utils/council_dists.py
  data/src/data_utils/delinquencies.py
  data/src/data_utils/dev_probability.py
  data/src/data_utils/drug_crimes.py
  data/src/data_utils/gun_crimes.py
  data/src/data_utils/imm_dang_buildings.py
  data/src/data_utils/kde.py
  data/src/data_utils/li_complaints.py
  data/src/data_utils/li_violations.py
  data/src/data_utils/nbhoods.py
  data/src/data_utils/negligent_devs.py
  data/src/data_utils/owner_type.py
  data/src/data_utils/park_priority.py
  data/src/data_utils/phs_properties.py
  data/src/data_utils/ppr_properties.py
  data/src/data_utils/priority_level.py
  data/src/data_utils/pwd_parcels.py
  data/src/data_utils/rco_geoms.py
  data/src/data_utils/tactical_urbanism.py
  data/src/data_utils/tree_canopy.py
  data/src/data_utils/unsafe_buildings.py
  data/src/data_utils/vacant_properties.py
  data/src/metadata/metadata_utils.py
  data/src/test/data_utils/test_data_utils.py
  data/src/test/test_metadata_utils.py
  data/src/validation/base.py
Due: radon-check

attach metadata decorators to respective data services
  data/src/data_utils/access_process.py
  data/src/data_utils/city_owned_properties.py
  data/src/data_utils/community_gardens.py
  data/src/data_utils/conservatorship.py
  data/src/data_utils/contig_neighbors.py
  data/src/data_utils/council_dists.py
  data/src/data_utils/delinquencies.py
  data/src/data_utils/dev_probability.py
  data/src/data_utils/drug_crimes.py
  data/src/data_utils/gun_crimes.py
  data/src/data_utils/imm_dang_buildings.py
  data/src/data_utils/li_complaints.py
  data/src/data_utils/li_violations.py
  data/src/data_utils/nbhoods.py
  data/src/data_utils/negligent_devs.py
  data/src/data_utils/opa_properties.py
  data/src/data_utils/owner_type.py
  data/src/data_utils/park_priority.py
  data/src/data_utils/phs_properties.py
  data/src/data_utils/ppr_properties.py
  data/src/data_utils/priority_level.py
  data/src/data_utils/pwd_parcels.py
  data/src/data_utils/rco_geoms.py
  data/src/data_utils/tactical_urbanism.py
  data/src/data_utils/tree_canopy.py
  data/src/data_utils/unsafe_buildings.py
  data/src/data_utils/vacant_properties.py
  data/src/metadata/metadata_utils.py
  data/src/test/test_metadata_utils.py
Due: radon-check

feat(FilterView): added input validators, including row count checks
  data/src/classes/loaders.py
  data/src/data_utils/community_gardens.py
  data/src/data_utils/imm_dang_buildings.py
  data/src/data_utils/li_violations.py
  data/src/data_utils/phs_properties.py
  data/src/data_utils/ppr_properties.py
  data/src/data_utils/pwd_parcels.py
  data/src/data_utils/rco_geoms.py
  data/src/data_utils/unsafe_buildings.py
  data/src/data_utils/vacant_properties.py
  data/src/validation/base.py
  data/src/validation/city_owned_properties.py
  data/src/validation/community_gardens.py
  data/src/validation/council_dists.py
  data/src/validation/imm_dang_buildings.py
  data/src/validation/li_violations.py
  data/src/validation/phs_properties.py
  data/src/validation/ppr_properties.py
  data/src/validation/pwd_parcels.py
  data/src/validation/rco_geoms.py
  data/src/validation/unsafe_buildings.py
  data/src/validation/vacant_properties.py
Due: radon-check

feat(FilterView): removed print statement
  data/src/classes/loaders.py
Due: radon-check

feat(InputVal): changed opa_id vals to string
  data/src/validation/community_gardens.py
  data/src/validation/imm_dang_buildings.py
  data/src/validation/li_violations.py
  data/src/validation/phs_properties.py
  data/src/validation/ppr_properties.py
  data/src/validation/pwd_parcels.py
  data/src/validation/rco_geoms.py
  data/src/validation/unsafe_buildings.py
Due: radon-check

feat(InputVal): added check_stats param to custom_validation fcn
  data/src/validation/city_owned_properties.py
  data/src/validation/contig_neighbors.py
  data/src/validation/delinquencies.py
  data/src/validation/dev_probability.py
  data/src/validation/dor_parcels.py
  data/src/validation/nbhoods.py
  data/src/validation/phs_properties.py
  data/src/validation/ppr_properties.py
  data/src/validation/priority_level.py
  data/src/validation/pwd_parcels.py
  data/src/validation/vacant_properties.py
Due: radon-check

feat(InputVal): removed opa_id for rco
  data/src/validation/rco_geoms.py
Due: radon-check

feat(InputVal): removed opa_id
  data/src/validation/community_gardens.py
  data/src/validation/phs_properties.py
Due: radon-check

get metadata to save correctly in csv in temp directory
  data/src/config/config.py
  data/src/data_utils/opa_properties.py
  data/src/main.py
  data/src/test/test_metadata_utils.py
Due: radon-check

get tests running and checking formatting
  data/src/test/test_metadata_utils.py
  data/test_service.py
Due: radon-check

chore: update disclaimer to reflect shutdown
  package-lock.json
  package.json
  src/app/(content-pages)/page.tsx
  src/components/DataDisclaimerModal.tsx
Due: prettier, eslint, npm-audit

chore: add FAQ, tweak disclaimer
  src/app/(content-pages)/about/AboutPage.tsx
  src/components/DataDisclaimerModal.tsx
Due: prettier, eslint

chore: update faq, disclaimer
  src/app/(content-pages)/about/AboutPage.tsx
  src/components/DataDisclaimerModal.tsx
Due: prettier, eslint

chore: add pmtiles and parquet to backup data with LFS tracking
  data/.gitattributes
  data/backup_data/all_properties_2025_07_09.parquet
  data/backup_data/vacant_properties_2025_07_09.pmtiles
Due: none

fix: refactor pmtiles generation to allow local writing
  data/Dockerfile
  data/src/classes/featurelayer.py
  data/src/classes/loaders.py
  data/src/config/config.py
  data/src/data_utils/vacant_properties.py
  data/src/main.py
Due: radon-check
