Repository CodeForPhilly/clean-and-green-philly: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-python-dependencies, prettier, eslint

.pre-commit-config.yaml:

repos:
  # Python hooks
  - repo: local
    hooks:
      # Ruff for Python linting
      - id: ruff
        name: ruff (Python linting)
        entry: ruff check --fix
        language: python
        types_or: [python, pyi, jupyter]
        files: \.py$
        exclude: ^data/src/awkde/

      # Ruff for Python formatting
      - id: ruff-format
        name: ruff-format (Python formatting)
        entry: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        files: \.py$
        exclude: ^data/src/awkde/

      # Dependency checks for Python
      - id: check-python-dependencies
        name: Check Python dependencies
        entry: bash -c 'cd data/src && pipenv check --bare --quiet || (echo "Python dependencies check failed" && exit 1)'
        language: system
        files: ^data/src/Pipfile$

  - repo: https://github.com/jendrikseipp/vulture
    rev: 'v2.3' # or any later Vulture version
    hooks:
      - id: vulture
        name: vulture (Dead code detection)
        entry: vulture --exclude=data/src/awkde
        language: python
        types: [python]
        files: ^data/
        pass_failing_tests: true # Report, do not fail

  # JavaScript hooks
  - repo: local
    hooks:
      # Formatting with Prettier
      - id: prettier
        name: Prettier (Code formatting)
        entry: npm run format
        language: node
        files: \.(js|jsx|ts|tsx)$

      # Linting with ESLint
      - id: eslint
        name: ESLint (JavaScript linting)
        entry: npm run lint
        language: node
        files: \.(js|jsx|ts|tsx)$

      # Dependency checks for Node.js
      - id: npm-audit
        name: Check Node.js dependencies
        entry: npm audit
        language: node

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: none

chore: add missing imports to new ETL pipeline
  data/src/main.py
Due: none

Start working on implementing the market price range filter
  src/components/FilterView.tsx
  src/components/Filters/FilterDescription.tsx
Due: prettier, eslint

docs: update the doc files for commit message validation
  .github/hooks/commit-msg
  docs/CONTRIBUTING.md
  docs/SETUP/BACK_END.md
  docs/SETUP/FRONT_END.md
Due: none

chore: merge missing imports
  data/src/main.py
Due: none

chore: update postgis and timescale db versions
  data/Dockerfile-pg
  data/Dockerfile-timescale
Due: none

chore: remove unused imports and variable
  data/src/config/config.py
  data/src/data_utils/city_owned_properties.py
  data/src/new_etl/database.py
Due: none

chore: add temporary password to pr_checks_backend.yml
  .github/workflows/pr_checks_backend.yml
Due: none

chore: fix dockerfile-pg postgis version to 3.5.2
  data/Dockerfile-pg
Due: none

chore: delay the initialization of the bucket in FeatureLayer
  data/src/new_etl/classes/featurelayer.py
Due: none

chore: add missing imports to new ETL pipeline (#1140)
  data/src/main.py
Due: none

New Notebooks. (#1137)
  CHANGELOG.md
  data/notebooks/data_exploration.ipnyb
  data/notebooks/gpu_rasterized_zonal_stats.ipynb
  data/notebooks/ndvi_trends.ipynb
Due: none

chore: modify data_diff's send_to_slack method
  data/src/new_etl/classes/bucket_manager.py
  data/src/new_etl/classes/data_diff.py
Due: none

fix: fixed Postgres reload features in new ETL pipeline
  data/src/new_etl/classes/featurelayer.py
  data/src/new_etl/data_utils/pwd_parcels.py
  data/src/new_etl/database.py
Due: none

Update opa_properties.py
  data/src/new_etl/data_utils/opa_properties.py
Due: none

Change out docker file for postgis
  data/Dockerfile-timescale
Due: none

Change out docker file for postgis (#1158)
  data/Dockerfile-timescale
Due: none

refactor buttongroup and multiselect filters into separate components untangled from the dimensionfilter wrapper
  src/components/FilterView.tsx
  src/components/Filters/ButtonGroup.tsx
  src/components/Filters/DimensionFilter.tsx
  src/components/Filters/FilterDescription.tsx
  src/components/Filters/MultiSelect.tsx
  src/components/Filters/Panel.tsx
  src/components/Filters/Panels.tsx
Due: prettier, eslint

work on defining panel types succintly
  package-lock.json
  src/components/Filters/Panel.tsx
  src/components/Filters/Panels.tsx
  src/components/PropertyAccessOptionContainer.tsx
  src/config/propertyAccessOptions.tsx
Due: prettier, eslint

finish extracting logic for panels filters into separate component and formatting the filters view so that it looks identical to before
  src/components/FilterView.tsx
  src/components/Filters/DimensionFilter.tsx
  src/components/Filters/Panel.tsx
  src/components/Filters/Panels.tsx
  src/components/PropertyAccessOptionContainer.tsx
  src/config/propertyAccessOptions.tsx
Due: prettier, eslint

remove unnecessary type array
  src/config/propertyAccessOptions.tsx
Due: prettier, eslint

fix quick error
  src/components/PropertyAccessOptionCard.tsx
Due: prettier, eslint

remove unnecessarily js file includes in tsconfig
  tsconfig.json
Due: none

update landbank link
  src/app/(content-pages)/get-access/GetAccessPage.tsx
Due: prettier, eslint

fix: merge on opa_id in pwd_parcels to fix bug
  data/src/new_etl/data_utils/pwd_parcels.py
  data/src/test/test_data_utils.py
Due: none

change frontend linting workflow to actually trigger on new PRs
  .github/workflows/pr_checks.yaml
Due: none

feat: add ndvi and ndvi change to new etl pipeline
  data/src/Pipfile
  data/src/Pipfile.lock
  data/src/main.py
  data/src/new_etl/data_utils/__init__.py
  data/src/new_etl/data_utils/ndvi.py
  data/src/test/test_ndvi.py
Due: check-python-dependencies

clean up tests
  data/src/Pipfile
  data/src/Pipfile.lock
  data/src/main.py
  data/src/new_etl/data_utils/__init__.py
  data/src/test/test_ndvi.py
Due: check-python-dependencies

write to same tmp dir as elsewhere in project
  data/src/new_etl/data_utils/ndvi.py
Due: none

fix: merge on opa_id in pwd_parcels to fix bug (#1169)
  data/src/new_etl/data_utils/pwd_parcels.py
  data/src/test/test_data_utils.py
Due: none

Migrate eslint config to support v9 and update Next dependency (#1165)
  .eslintrc.json
  CHANGELOG.md
  eslint.config.js
  package-lock.json
  package.json
  tsconfig.json
Due: prettier, eslint

feat: add recent permits, business licenses, and appeals activities for all properties for ML feature engineering
  data/src/main.py
  data/src/new_etl/data_utils/__init__.py
  data/src/new_etl/data_utils/recent_activity.py
Due: none

feat: add unit testing for recent activity
  data/src/new_etl/data_utils/recent_activity.py
  data/src/test/test_recent_activity.py
Due: none

feat: move sql queries into services.py
  data/src/new_etl/constants/services.py
  data/src/new_etl/data_utils/recent_activity.py
Due: none

task: clean up unit tests
  data/src/Pipfile
  data/src/Pipfile.lock
  data/src/new_etl/data_utils/ndvi.py
  data/src/test/test_ndvi.py
Due: check-python-dependencies

task: fix ruff linting error
  data/src/test/test_recent_activity.py
Due: none

fix: add --check flag for formatting CI check
  .github/workflows/pr_checks_backend.yml
Due: none

fix: format files with ruff
  data/src/classes/backup_archive_database.py
  data/src/classes/diff_report.py
  data/src/classes/featurelayer.py
  data/src/constants/services.py
  data/src/data_utils/access_process.py
  data/src/data_utils/community_gardens.py
  data/src/data_utils/l_and_i.py
  data/src/data_utils/nbhoods.py
  data/src/data_utils/negligent_devs.py
  data/src/data_utils/opa_properties.py
  data/src/data_utils/owner_type.py
  data/src/data_utils/phs_properties.py
  data/src/data_utils/ppr_properties.py
  data/src/data_utils/utils.py
  data/src/streetview.py
Due: none
