Repository CodeForPhilly/clean-and-green-philly: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-python-dependencies, radon-check, prettier, eslint

.pre-commit-config.yaml:

repos:
  # Python hooks
  - repo: local
    hooks:
      # Ruff for Python linting
      - id: ruff
        name: ruff (Python linting)
        entry: ruff check --fix
        language: python
        types_or: [python, pyi, jupyter]
        files: \.py$

      # Ruff for Python formatting
      - id: ruff-format
        name: ruff-format (Python formatting)
        entry: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        files: \.py$

      # Dependency checks for Python
      - id: check-python-dependencies
        name: Check Python dependencies
        entry: bash -c 'cd data/src && pipenv check --bare --quiet || (echo "Python dependencies check failed" && exit 1)'
        language: system
        files: ^data/src/Pipfile$

      # Radon MI and Halstead checks
      - id: radon-check
        name: Radon Maintainability and Halstead Checks
        entry: |
          bash -c 'radon mi -s {} | grep -E " - [CDEF] \(" && echo "Radon MI grade below B detected!" && exit 1 || echo "All MI grades are B or above."
          radon hal {} -s | awk "/effort/ { if (\$3 > 2000) print FILENAME \": High Halstead effort:\" \$3 }"'
        language: system
        files: \.py$

  - repo: https://github.com/jendrikseipp/vulture
    rev: 'v2.3' # or any later Vulture version
    hooks:
      - id: vulture
        name: vulture (Dead code detection)
        entry: vulture data/
        language: python
        types: [python]
        files: ^data/

  # JavaScript hooks
  - repo: local
    hooks:
      # Formatting with Prettier
      - id: prettier
        name: Prettier (Code formatting)
        entry: npm run format
        language: node
        files: \.(js|jsx|ts|tsx)$

      # Linting with ESLint
      - id: eslint
        name: ESLint (JavaScript linting)
        entry: npm run lint
        language: node
        files: \.(js|jsx|ts|tsx)$

      # Dependency checks for Node.js
      - id: npm-audit
        name: Check Node.js dependencies
        entry: npm audit
        language: node

feat: update reset button to dispatch 'CLEAR_DIMENSIONS'
  src/components/FilterView.tsx
Due: prettier, eslint

Remove pythonpath modifcation in github actions workflow
  .github/workflows/pr_checks_backend.yml
Due: none

Move test directory back into src
  data/src/test/__init__.py
  data/src/test/cl-data-diff.sh
  data/src/test/conftest.py
  data/src/test/test_data_utils.py
  data/src/test/test_diff_backup.py
  data/src/test/test_metadata_utils.py
  data/src/test/test_slack_error_reporter.py
  data/src/test/test_utils.py
Due: radon-check

Update copy path for Dockerfile
  data/Dockerfile
Due: none

refactor: remove unused `updateCurrentView` callback
  src/app/find-properties/[[...opa_id]]/page.tsx
  src/components/FilterView.tsx
Due: prettier, eslint

fix: remove unused props definition
  src/components/FilterView.tsx
Due: prettier, eslint

add base and geometry validator drafts using pandera
  data/src/new_etl/services.py
  data/src/new_etl/validators/base.py
  data/src/new_etl/validators/geometry_validator.py
Due: radon-check

rename standardized_mailing_address column
  data/src/data_utils/negligent_devs.py
  data/src/new_etl/data_utils/negligent_devs.py
  data/src/new_etl/data_utils/opa_properties.py
  data/src/test/test_metadata_utils.py
  docs/ETL pipeline/DataDict.md
Due: radon-check

fix path for city limits url; add city/state column for mailing address
  data/src/new_etl/constants/services.py
  data/src/new_etl/services.py
  data/src/new_etl/validators/geometry_validator.py
Due: radon-check

add city + state to mailing address
  data/src/new_etl/data_utils/opa_properties.py
Due: radon-check

add a flag to catch condo units in pwd parcels
  data/src/new_etl/data_utils/pwd_parcels.py
Due: radon-check

standardize boolean columns
  data/src/new_etl/data_utils/city_owned_properties.py
  data/src/new_etl/data_utils/conservatorship.py
  data/src/new_etl/data_utils/delinquencies.py
  data/src/new_etl/data_utils/imm_dang_buildings.py
  data/src/new_etl/data_utils/tactical_urbanism.py
  data/src/new_etl/data_utils/unsafe_buildings.py
Due: radon-check

allow num_years_owed to be int64
  data/src/new_etl/data_utils/delinquencies.py
Due: radon-check

make sure dates are formatted correctly
  data/src/new_etl/data_utils/delinquencies.py
  data/src/new_etl/data_utils/opa_properties.py
Due: radon-check

rename
  data/src/new_etl/validators/base_validator.py
Due: radon-check

update condo, geom metadata
  data/src/new_etl/data_utils/pwd_parcels.py
Due: radon-check

add initial draft of schema drift validation
  data/src/new_etl/validators/dor_parcels_validator.py
  data/src/new_etl/validators/schema_drift_validator.py
Due: radon-check

add schema drift validators drafts
  data/src/new_etl/validators/building_permits_validator.py
  data/src/new_etl/validators/census_bgs_validator.py
  data/src/new_etl/validators/city_owned_properties_validator.py
  data/src/new_etl/validators/community_gardens_validator.py
  data/src/new_etl/validators/council_districts_validator.py
  data/src/new_etl/validators/crime_incidents_validator.py
  data/src/new_etl/validators/dor_parcels_validator.py
  data/src/new_etl/validators/imm_danger_buildings_validator.py
  data/src/new_etl/validators/li_complaints_validator.py
  data/src/new_etl/validators/li_violations_validator.py
  data/src/new_etl/validators/neighborhoods_validator.py
  data/src/new_etl/validators/opa_properties_validator.py
  data/src/new_etl/validators/phs_landcare_validator.py
  data/src/new_etl/validators/ppr_properties_validator.py
  data/src/new_etl/validators/pwd_parcels_validator.py
  data/src/new_etl/validators/rcos_validator.py
  data/src/new_etl/validators/unsafe_buildings_validator.py
  data/src/new_etl/validators/vacant_buildings_validator.py
  data/src/new_etl/validators/vacant_land_validator.py
Due: radon-check

basic validators
  data/src/new_etl/data_utils/access_process.py
  data/src/new_etl/data_utils/city_owned_properties.py
  data/src/new_etl/data_utils/community_gardens.py
  data/src/new_etl/validators/access_process_validator.py
  data/src/new_etl/validators/city_owned_properties_validator.py
  data/src/new_etl/validators/community_gardens_validator.py
Due: radon-check

remove outdated original jupyter notebook
  data/archived/2023_02_02_vacant_lots_layer.ipynb
Due: none

relocate docs
  README.md
  docs/PROJECT_BACKGROUND/City Council Testimony Final, April 26, 2024.pdf
  docs/PROJECT_BACKGROUND/PROJECT_BACKGROUND.md
  docs/PROJECT_BACKGROUND/Penn_Student_GC_Memo.pdf
  src/app/(content-pages)/methodology/MethodologyPage.tsx
Due: prettier, eslint

docs: remove unused files
  data/notebooks/gpu_rasterized_zonal_stats.ipynb
  data/notebooks/ndvi_trends.ipynb
Due: none

re-introduce parcel street address, add parcel area
  data/src/new_etl/constants/services.py
  data/src/new_etl/data_utils/opa_properties.py
  data/src/new_etl/data_utils/pwd_parcels.py
Due: radon-check

quick error fix
  data/src/new_etl/classes/featurelayer.py
Due: radon-check

rip out some additional lingering connection to postgres in the testing suite
  data/src/test/test_data_utils.py
  data/src/test/test_diff_backup.py
  data/src/test/test_utils.py
Due: radon-check

another postgres connection to tests to remove
  data/src/test/conftest.py
Due: radon-check

remove some additional patches
  data/src/test/test_data_utils.py
Due: radon-check

reduce some more tests to stubs
  data/src/test/test_data_utils.py
Due: radon-check

build of subclasses for loading gdf from esri, carto, and url sources and do general replacement across the services in the pipeline
  data/src/new_etl/classes/featurelayer.py
  data/src/new_etl/data_utils/access_process.py
  data/src/new_etl/data_utils/city_owned_properties.py
  data/src/new_etl/data_utils/community_gardens.py
  data/src/new_etl/data_utils/conservatorship.py
  data/src/new_etl/data_utils/contig_neighbors.py
  data/src/new_etl/data_utils/council_dists.py
  data/src/new_etl/data_utils/delinquencies.py
  data/src/new_etl/data_utils/dev_probability.py
  data/src/new_etl/data_utils/dor_parcels.py
  data/src/new_etl/data_utils/drug_crimes.py
  data/src/new_etl/data_utils/gun_crimes.py
  data/src/new_etl/data_utils/imm_dang_buildings.py
  data/src/new_etl/data_utils/kde.py
  data/src/new_etl/data_utils/li_complaints.py
  data/src/new_etl/data_utils/li_violations.py
  data/src/new_etl/data_utils/nbhoods.py
  data/src/new_etl/data_utils/negligent_devs.py
  data/src/new_etl/data_utils/opa_properties.py
  data/src/new_etl/data_utils/owner_type.py
  data/src/new_etl/data_utils/park_priority.py
  data/src/new_etl/data_utils/phs_properties.py
  data/src/new_etl/data_utils/ppr_properties.py
  data/src/new_etl/data_utils/priority_level.py
  data/src/new_etl/data_utils/pwd_parcels.py
  data/src/new_etl/data_utils/rco_geoms.py
  data/src/new_etl/data_utils/tactical_urbanism.py
  data/src/new_etl/data_utils/tree_canopy.py
  data/src/new_etl/data_utils/unsafe_buildings.py
  data/src/new_etl/data_utils/vacant_properties.py
  data/src/new_etl/loaders.py
  data/src/new_etl/utilities.py
Due: radon-check

review changes
  data/src/main.py
  data/src/new_etl/classes/featurelayer.py
  data/src/new_etl/classes/file_manager.py
  data/src/new_etl/data_utils/kde.py
  data/src/new_etl/data_utils/park_priority.py
  data/src/new_etl/data_utils/tree_canopy.py
  data/src/new_etl/data_utils/vacant_properties.py
Due: radon-check

remove repeated code
  data/src/main.py
Due: radon-check

clean up some of the repeated logic and various clutter in each service
  data/src/new_etl/classes/featurelayer.py
  data/src/new_etl/data_utils/access_process.py
  data/src/new_etl/data_utils/city_owned_properties.py
  data/src/new_etl/data_utils/community_gardens.py
  data/src/new_etl/data_utils/contig_neighbors.py
  data/src/new_etl/data_utils/council_dists.py
  data/src/new_etl/data_utils/delinquencies.py
  data/src/new_etl/data_utils/dev_probability.py
  data/src/new_etl/data_utils/dor_parcels.py
  data/src/new_etl/data_utils/imm_dang_buildings.py
  data/src/new_etl/data_utils/kde.py
  data/src/new_etl/data_utils/li_violations.py
  data/src/new_etl/data_utils/nbhoods.py
  data/src/new_etl/data_utils/opa_properties.py
  data/src/new_etl/data_utils/park_priority.py
  data/src/new_etl/data_utils/phs_properties.py
  data/src/new_etl/data_utils/ppr_properties.py
  data/src/new_etl/data_utils/pwd_parcels.py
  data/src/new_etl/data_utils/rco_geoms.py
  data/src/new_etl/data_utils/tree_canopy.py
  data/src/new_etl/data_utils/unsafe_buildings.py
  data/src/new_etl/data_utils/vacant_properties.py
  data/src/new_etl/loaders.py
  data/src/new_etl/utilities.py
Due: radon-check

pytest skip earlier tests to return to later
  data/src/test/test_data_utils.py
Due: radon-check

fix some test errors
  data/src/new_etl/data_utils/phs_properties.py
  data/src/test/test_data_utils.py
Due: radon-check

fix test errors
  data/src/new_etl/classes/featurelayer.py
Due: radon-check

a few more merge errors
  data/src/classes/featurelayer.py
  data/src/config/psql.py
  data/src/data_utils/kde.py
  data/src/data_utils/park_priority.py
  data/src/data_utils/tree_canopy.py
  data/src/new_etl/data_utils/kde.py
  data/src/new_etl/data_utils/tree_canopy.py
Due: radon-check

couple test import errors
  data/src/config/psql.py
  data/src/new_etl/classes/file_manager.py
  data/src/new_etl/data_utils/kde.py
  data/src/new_etl/data_utils/priority_level.py
  data/src/new_etl/data_utils/tree_canopy.py
  data/src/test/test_data_utils.py
Due: radon-check

file manager small fix
  data/src/data_utils/park_priority.py
  data/src/data_utils/tree_canopy.py
  data/src/main.py
Due: radon-check

another file manager fix
  data/src/data_utils/kde.py
Due: radon-check
