Repository CodeForPhilly/clean-and-green-philly: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-python-dependencies, radon-check, prettier, eslint

.pre-commit-config.yaml:

repos:
  # Python hooks
  - repo: local
    hooks:
      # Ruff for Python linting
      - id: ruff
        name: ruff (Python linting)
        entry: ruff check --fix
        language: python
        types_or: [python, pyi, jupyter]
        files: \.py$

      # Ruff for Python formatting
      - id: ruff-format
        name: ruff-format (Python formatting)
        entry: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        files: \.py$

      # Dependency checks for Python
      - id: check-python-dependencies
        name: Check Python dependencies
        entry: bash -c 'cd data/src && pipenv check --bare --quiet || (echo "Python dependencies check failed" && exit 1)'
        language: system
        files: ^data/src/Pipfile$

      # Radon MI and Halstead checks
      - id: radon-check
        name: Radon Maintainability and Halstead Checks
        entry: |
          bash -c 'radon mi -s {} | grep -E " - [CDEF] \(" && echo "Radon MI grade below B detected!" && exit 1 || echo "All MI grades are B or above."
          radon hal {} -s | awk "/effort/ { if (\$3 > 2000) print FILENAME \": High Halstead effort:\" \$3 }"'
        language: system
        files: \.py$

  - repo: https://github.com/jendrikseipp/vulture
    rev: 'v2.3' # or any later Vulture version
    hooks:
      - id: vulture
        name: vulture (Dead code detection)
        entry: vulture data/
        language: python
        types: [python]
        files: ^data/

  # JavaScript hooks
  - repo: local
    hooks:
      # Formatting with Prettier
      - id: prettier
        name: Prettier (Code formatting)
        entry: npm run format
        language: node
        files: \.(js|jsx|ts|tsx)$

      # Linting with ESLint
      - id: eslint
        name: ESLint (JavaScript linting)
        entry: npm run lint
        language: node
        files: \.(js|jsx|ts|tsx)$

      # Dependency checks for Node.js
      - id: npm-audit
        name: Check Node.js dependencies
        entry: npm audit
        language: node

update park priorty to run correctly
  data/src/new_etl/data_utils/park_priority.py
Due: radon-check

refactor some of the file manager for consistent responsibilities across the different class methods
  data/src/config/config.py
  data/src/data_utils/conservatorship.py
  data/src/main.py
  data/src/new_etl/classes/featurelayer.py
  data/src/new_etl/classes/file_manager.py
  data/src/new_etl/data_utils/park_priority.py
Due: radon-check

swap out additional places for the file manager to handle caching and loading of source files
  .gitignore
  data/src/main.py
  data/src/new_etl/classes/featurelayer.py
  data/src/new_etl/classes/file_manager.py
  data/src/new_etl/data_utils/kde.py
  data/src/new_etl/data_utils/park_priority.py
  data/src/new_etl/data_utils/tree_canopy.py
Due: radon-check

remove error in file manager argument order
  data/src/main.py
  data/src/new_etl/data_utils/park_priority.py
Due: radon-check

fix current unit tests, so they are all passing now
  data/src/config/config.py
  data/src/new_etl/classes/featurelayer.py
  data/src/new_etl/data_utils/nbhoods.py
  data/src/new_etl/data_utils/rco_geoms.py
  data/src/test/data_utils/test_conservatorship.py
  data/src/test/data_utils/test_negligent_devs.py
  data/src/test/data_utils/test_neighborhoods.py
  data/src/test/data_utils/test_rco_geoms.py
  data/src/test/data_utils/test_tactical_urbanism.py
Due: radon-check

Add data validation framework with vacant properties validator
  data/src/main.py
  data/src/new_etl/validation/base.py
  data/src/new_etl/validation/vacant_properties.py
Due: radon-check

Add council districts validator and validation package structure
  data/src/main.py
  data/src/new_etl/validation/__init__.py
  data/src/new_etl/validation/council_dists.py
Due: radon-check

Add documentation to validation base class
  data/src/new_etl/validation/base.py
Due: radon-check

Add neighborhoods validator and update council districts validator to check completeness
  data/src/main.py
  data/src/new_etl/validation/__init__.py
  data/src/new_etl/validation/council_dists.py
  data/src/new_etl/validation/nbhoods.py
Due: radon-check

Add RCO geoms validator with format and coverage checks
  data/src/main.py
  data/src/new_etl/validation/__init__.py
  data/src/new_etl/validation/rco_geoms.py
Due: radon-check

Add city-owned properties validator with agency and side yard eligibility checks
  data/src/main.py
  data/src/new_etl/validation/__init__.py
  data/src/new_etl/validation/city_owned_properties.py
Due: radon-check

Add PHS properties validator with geometry and data quality checks
  data/src/main.py
  data/src/new_etl/validation/__init__.py
  data/src/new_etl/validation/phs_properties.py
Due: radon-check

Add community gardens validator with comprehensive data quality checks
  data/src/main.py
  data/src/new_etl/data_utils/community_gardens.py
  data/src/new_etl/validation/__init__.py
  data/src/new_etl/validation/community_gardens.py
Due: radon-check

Add PPR properties validator with data quality checks
  data/src/main.py
  data/src/new_etl/validation/__init__.py
  data/src/new_etl/validation/ppr_properties.py
Due: radon-check

Add null check for owner_type in OwnerTypeValidator
  data/src/main.py
  data/src/new_etl/validation/__init__.py
  data/src/new_etl/validation/owner_type.py
Due: radon-check

Add L&I violations validator with data quality and duplicate checks
  data/src/main.py
  data/src/new_etl/validation/__init__.py
  data/src/new_etl/validation/li_violations.py
Due: radon-check

Centralize KDE validation logic into a single configurable validator
  data/src/main.py
  data/src/new_etl/validation/__init__.py
  data/src/new_etl/validation/kde.py
Due: radon-check

Add validation checks for tree canopy data
  data/src/main.py
  data/src/new_etl/validation/__init__.py
  data/src/new_etl/validation/tree_canopy.py
Due: radon-check

Update base validator class to check for duplicate OPAs, geoms; also check for invalid geoms
  data/src/new_etl/validation/base.py
Due: radon-check

Add validator for access process
  data/src/main.py
  data/src/new_etl/validation/__init__.py
  data/src/new_etl/validation/access_process.py
Due: radon-check

break out more of the services into smaller segments for unit testing
  data/src/new_etl/data_utils/city_owned_properties.py
  data/src/new_etl/data_utils/community_gardens.py
  data/src/new_etl/data_utils/council_dists.py
  data/src/new_etl/data_utils/delinquencies.py
  data/src/test/data_utils/test_city_owned_properties.py
  data/src/test/data_utils/test_community_gardens.py
  data/src/test/data_utils/test_council_dists.py
  data/src/test/data_utils/test_delinquencies.py
Due: radon-check

replaced additional areas with file were being saved and loaded add-hoc with a file manager instance
  data/src/classes/featurelayer.py
  data/src/data_utils/kde.py
  data/src/data_utils/park_priority.py
  data/src/data_utils/tree_canopy.py
  data/src/main.py
  data/src/new_etl/classes/file_manager.py
Due: radon-check

add file manager instances
  data/src/data_utils/kde.py
  data/src/data_utils/park_priority.py
  data/src/data_utils/tree_canopy.py
  data/src/main.py
  data/src/new_etl/classes/featurelayer.py
  data/src/new_etl/classes/file_manager.py
  data/src/new_etl/data_utils/kde.py
  data/src/new_etl/data_utils/park_priority.py
  data/src/new_etl/data_utils/tree_canopy.py
Due: radon-check

Remove postgres and replace with read and writes to parquet files using a file manager (#1189)
  .gitignore
  data/Dockerfile
  data/Dockerfile-pg
  data/Dockerfile-timescale
  data/docker-compose.yml
  data/init_pg.sql
  data/init_pg_timescale.sql
  data/src/classes/featurelayer.py
  data/src/config/config.py
  data/src/config/psql.py
  data/src/data_utils/conservatorship.py
  data/src/data_utils/kde.py
  data/src/data_utils/park_priority.py
  data/src/data_utils/tree_canopy.py
  data/src/main.py
  data/src/new_etl/classes/bucket_manager.py
  data/src/new_etl/classes/data_diff.py
  data/src/new_etl/classes/featurelayer.py
  data/src/new_etl/classes/file_manager.py
  data/src/new_etl/classes/slack_reporters.py
  data/src/new_etl/data_utils/kde.py
  data/src/new_etl/data_utils/park_priority.py
  data/src/new_etl/data_utils/tree_canopy.py
  data/src/new_etl/data_utils/vacant_properties.py
  data/src/new_etl/database.py
Due: radon-check

add in class for controlling slack reporting and separate those responsibilies from the data diffing. Additionally change some previous postgres stat generation to instead look at parquet file sizes
  data/src/main.py
  data/src/new_etl/classes/data_diff.py
  data/src/new_etl/classes/file_manager.py
  data/src/new_etl/classes/slack_reporters.py
  data/src/new_etl/data_utils/vacant_properties.py
Due: radon-check

add temporary changes
  Pipfile
  data/src/new_etl/validation/__init__.py
  data/src/new_etl/validation/access_process.py
  data/src/new_etl/validation/base.py
  data/src/new_etl/validation/city_owned_properties.py
  data/src/new_etl/validation/community_gardens.py
  data/src/new_etl/validation/council_dists.py
  data/src/new_etl/validation/kde.py
  data/src/new_etl/validation/li_violations.py
  data/src/new_etl/validation/nbhoods.py
  data/src/new_etl/validation/neighborhoods.py
  data/src/new_etl/validation/opa_properties.py
  data/src/new_etl/validation/phs_properties.py
  data/src/new_etl/validation/ppr_properties.py
  data/src/new_etl/validation/priority_level.py
  data/src/new_etl/validation/tree_canopy.py
  data/src/new_etl/validation/vacant_properties.py
  requirements.txt
Due: radon-check

commit temp changes
  data/src/Pipfile
  data/src/Pipfile.lock
  data/src/data_utils/negligent_devs.py
  data/src/main.py
  data/src/new_etl/classes/featurelayer.py
  data/src/new_etl/constants/services.py
  data/src/new_etl/data_utils/council_dists.py
  data/src/new_etl/data_utils/kde.py
  data/src/new_etl/data_utils/li_complaints.py
  data/src/new_etl/data_utils/negligent_devs.py
  data/src/new_etl/data_utils/opa_properties.py
  data/src/new_etl/data_utils/vacant_properties.py
  data/src/new_etl/loaders.py
  data/src/script.py
  data/src/test/test_data_utils.py
  data/src/test/test_metadata_utils.py
  docs/ETL pipeline/DataDict.md
Due: check-python-dependencies, radon-check

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: none

feat: allow non-credentialed users and cloud env credentials
  data/docker-compose.yml
  data/src/config/psql.py
  data/src/new_etl/classes/bucket_manager.py
  data/src/new_etl/classes/featurelayer.py
  data/src/new_etl/classes/slack_reporters.py
  data/src/streetview.py
  data/src/test/test_slack_error_reporter.py
Due: radon-check

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: modify data_diff's send_to_slack method
  data/src/new_etl/classes/bucket_manager.py
Due: radon-check

chore: add VACANT_LOT_DB back to docker-compose env
  data/docker-compose.yml
Due: none

chore: made credentials optional for current/old pipeline
  data/src/classes/backup_archive_database.py
  data/src/classes/bucket_manager.py
  data/src/classes/diff_report.py
  data/src/classes/featurelayer.py
  data/src/classes/slack_error_reporter.py
  data/src/config/config.py
  data/src/config/psql.py
  data/src/script.py
  data/src/test/test_slack_error_reporter.py
Due: radon-check

Move test directory to same level as src
  data/test/__init__.py
  data/test/cl-data-diff.sh
  data/test/conftest.py
  data/test/test_data_utils.py
  data/test/test_diff_backup.py
  data/test/test_metadata_utils.py
  data/test/test_slack_error_reporter.py
  data/test/test_utils.py
Due: radon-check

feat: change the 'X' button to say 'Reset'
  src/components/FilterView.tsx
Due: prettier, eslint

Move pipfile and pipfile.lock to top level
  data/Pipfile
  data/Pipfile.lock
Due: none

feat: update reset button to dispatch 'CLEAR_DIMENSIONS'
  src/components/FilterView.tsx
Due: prettier, eslint

refactor: remove unused `updateCurrentView` callback
  src/app/find-properties/[[...opa_id]]/page.tsx
  src/components/FilterView.tsx
Due: prettier, eslint
