Repository CodeForPhilly/clean-and-green-philly: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-python-dependencies, prettier, eslint

check-python-dependencies:
  name: Check Python dependencies
  entry: bash -c 'cd data/src && pipenv check --bare --quiet || (echo "Python dependencies check failed" && exit 1)'
  language: system

prettier:
  name: Prettier (Code formatting)
  entry: npm run format
  language: node

eslint:
  name: ESLint (JavaScript linting)
  entry: npm run lint
  language: node

Fix backend formatting checks (#1175)
  .github/workflows/pr_checks_backend.yml
  data/src/classes/backup_archive_database.py
  data/src/classes/diff_report.py
  data/src/classes/featurelayer.py
  data/src/constants/services.py
  data/src/data_utils/access_process.py
  data/src/data_utils/community_gardens.py
  data/src/data_utils/l_and_i.py
  data/src/data_utils/nbhoods.py
  data/src/data_utils/negligent_devs.py
  data/src/data_utils/opa_properties.py
  data/src/data_utils/owner_type.py
  data/src/data_utils/phs_properties.py
  data/src/data_utils/ppr_properties.py
  data/src/data_utils/utils.py
  data/src/streetview.py
Due: none

fix error in release workflow file
  .github/workflows/release.yml
Due: none

feat: Unvendor awkde
  .github/workflows/pr_checks_backend.yml
  .gitignore
  .pre-commit-config.yaml
  data/Dockerfile
  data/docker-compose.yml
  data/pyproject.toml
  data/src/Pipfile
  data/src/Pipfile.lock
  data/src/awkde/LICENSE
  data/src/awkde/README.md
  data/src/awkde/awkde.egg-info/PKG-INFO
  data/src/awkde/awkde.egg-info/SOURCES.txt
  data/src/awkde/awkde.egg-info/dependency_links.txt
  data/src/awkde/awkde.egg-info/requires.txt
  data/src/awkde/awkde.egg-info/top_level.txt
  data/src/awkde/awkde/__init__.py
  data/src/awkde/awkde/awkde.py
  data/src/awkde/awkde/backend.cpython-310-x86_64-linux-gnu.so
  data/src/awkde/awkde/backend.cpython-311-darwin.so
  data/src/awkde/awkde/backend.cpython-311-x86_64-linux-gnu.so
  data/src/awkde/awkde/tools.py
  data/src/awkde/build/lib.linux-x86_64-3.10/awkde/backend.cpython-310-x86_64-linux-gnu.so
  data/src/awkde/build/temp.linux-x86_64-3.10/cpp/backend.o
  data/src/awkde/cpp/backend.cpp
  data/src/awkde/example/example.png
  data/src/awkde/example/example.py
  data/src/awkde/example/example_KDE.json
  data/src/awkde/pyproject.toml
  data/src/awkde/setup.py
  data/src/awkde/tex/kernel_dens.png
  data/src/awkde/tex/lambda.png
  data/src/awkde/tex/log_g.png
  data/src/main.py
  data/src/script.py
Due: check-python-dependencies

update dependabot workflow to pin react, next, and tailwind at their current major versions to avoid breaking changes
  .github/dependabot.yml
Due: none

correct eslint config file format to ensure its module improts are recognized correctly
  eslint.config.mjs
  tsconfig.json
Due: none

add in additional changes
  data/src/new_etl/data_utils/pwd_parcels.py
  data/src/test/test_data_utils.py
Due: none

fix: Refactor filters logic (#1164)
  package-lock.json
  src/components/FilterView.tsx
  src/components/Filters/ButtonGroup.tsx
  src/components/Filters/DimensionFilter.tsx
  src/components/Filters/FilterDescription.tsx
  src/components/Filters/MultiSelect.tsx
  src/components/Filters/Panel.tsx
  src/components/Filters/Panels.tsx
  src/components/PropertyAccessOptionCard.tsx
  src/components/PropertyAccessOptionContainer.tsx
  src/config/propertyAccessOptions.tsx
Due: prettier, eslint

finish non-api unit tests excluding the contig_neighbors
  data/src/test/test_data_utils.py
Due: none

Configure dependabot to ignore major version updates to key dependencies (#1179)
  .github/dependabot.yml
  eslint.config.mjs
  tsconfig.json
Due: none

chore: Remove unused dev dependencies and pin versions
  data/pyproject.toml
  data/src/Pipfile
Due: check-python-dependencies

chore: Alphabatize backend dependencies
  data/src/Pipfile
Due: check-python-dependencies

chore: Pin backend dependencies to minor versions
  data/src/Pipfile
  data/src/Pipfile.lock
Due: check-python-dependencies

start writing documentation on different technologies used in project
  .gitignore
  docs/TECHNOLOGIES.md
Due: none

detail out some more technologies
  docs/TECHNOLOGIES.md
Due: none

fill out some more technologies
  docs/TECHNOLOGIES.md
Due: none

add link
  docs/TECHNOLOGIES.md
Due: none

undo local changes to testing file that shouldn't be in this branch
  Pipfile
  data/src/test/test_data_utils.py
Due: none

remove unwanted pipfile
  Pipfile
Due: none

Notes added by 'git notes add'
  94e7f38820160a1659c5f69a233778f75df1f7c6
Due: none

Basic technologies documentation (#1184)
  .gitignore
  data/src/new_etl/data_utils/pwd_parcels.py
  docs/TECHNOLOGIES.md
Due: none

small changes
  data/src/test/test_data_utils.py
Due: none

add back in gitignore changes
  .gitignore
  data/src/Pipfile
  data/src/Pipfile.lock
Due: check-python-dependencies

separate out data util tests into separate files and their own folder for better organization
  data/src/Pipfile
  data/src/test/data_utils.py/__init__.py
  data/src/test/data_utils.py/test_access_process.py
  data/src/test/data_utils.py/test_conservatorship.py
  data/src/test/data_utils.py/test_contiguous_neighbors.py
  data/src/test/data_utils.py/test_negligent_devs.py
  data/src/test/data_utils.py/test_owner_type.py
  data/src/test/data_utils.py/test_priority_level.py
  data/src/test/data_utils.py/test_pwd_parcels.py
  data/src/test/data_utils.py/test_tactical_urbanism.py
  data/src/test/test_data_utils.py
Due: check-python-dependencies

keep working on incorporating unit tests
  data/src/new_etl/data_utils/nbhoods.py
  data/src/new_etl/data_utils/rco_geoms.py
  data/src/test/data_utils.py/test_neighborhoods.py
  data/src/test/data_utils.py/test_rco_geoms.py
Due: none

keep working on the rco_geom tests
  data/src/test/data_utils.py/test_rco_geoms.py
Due: none

feat: allow non-credentialed users and cloud env credentials
  data/docker-compose.yml
  data/src/config/psql.py
  data/src/new_etl/classes/bucket_manager.py
  data/src/new_etl/classes/featurelayer.py
  data/src/new_etl/classes/slack_reporters.py
  data/src/streetview.py
  data/src/test/test_slack_error_reporter.py
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: none

chore: modify data_diff's send_to_slack method
  data/src/new_etl/classes/bucket_manager.py
  data/src/new_etl/classes/data_diff.py
Due: none

chore: add VACANT_LOT_DB back to docker-compose env
  data/docker-compose.yml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: made credentials optional for current/old pipeline
  data/src/classes/backup_archive_database.py
  data/src/classes/bucket_manager.py
  data/src/classes/diff_report.py
  data/src/classes/featurelayer.py
  data/src/classes/slack_error_reporter.py
  data/src/config/config.py
  data/src/config/psql.py
  data/src/script.py
  data/src/test/test_slack_error_reporter.py
Due: none

extra tests changes
  data/src/test/data_utils.py/test_rco_geoms.py
Due: none

remove some vulture dead code checks
  data/src/Pipfile
  data/src/Pipfile.lock
  data/src/data_utils/conservatorship.py
  data/src/data_utils/priority_level.py
  data/src/data_utils/tactical_urbanism.py
  data/src/new_etl/data_utils/conservatorship.py
  data/src/new_etl/data_utils/kde.py
  data/src/new_etl/data_utils/priority_level.py
  data/src/new_etl/data_utils/tactical_urbanism.py
  data/src/streetview.py
  data/src/test/data_utils/__init__.py
  data/src/test/data_utils/test_access_process.py
  data/src/test/data_utils/test_conservatorship.py
  data/src/test/data_utils/test_contiguous_neighbors.py
  data/src/test/data_utils/test_negligent_devs.py
  data/src/test/data_utils/test_neighborhoods.py
  data/src/test/data_utils/test_owner_type.py
  data/src/test/data_utils/test_priority_level.py
  data/src/test/data_utils/test_pwd_parcels.py
  data/src/test/data_utils/test_rco_geoms.py
  data/src/test/data_utils/test_tactical_urbanism.py
Due: check-python-dependencies

remove several of the starting postgres files
  data/Dockerfile-pg
  data/Dockerfile-timescale
  data/docker-compose.yml
  data/init_pg.sql
  data/init_pg_timescale.sql
  data/src/config/psql.py
Due: none

some more postgres removals
  data/src/new_etl/classes/featurelayer.py
Due: none

apply changes for file system manager only to the new_etl portion of the pipeline code
  data/src/new_etl/classes/bucket_manager.py
  data/src/new_etl/classes/data_diff.py
  data/src/new_etl/classes/featurelayer.py
  data/src/new_etl/classes/file_manager.py
  data/src/new_etl/classes/slack_reporters.py
  data/src/new_etl/data_utils/park_priority.py
  data/src/new_etl/data_utils/pwd_parcels.py
  data/src/new_etl/data_utils/vacant_properties.py
  data/src/new_etl/database.py
Due: none

add some changes to the config to label root directory and mostly get it working for running and caching files in geoparquet form
  data/Dockerfile
  data/src/config/config.py
  data/src/new_etl/classes/featurelayer.py
  data/src/new_etl/classes/file_manager.py
Due: none

include gitignore changes
  .gitignore
Due: none

merge in some changes to the data utils
  data/src/new_etl/data_utils/pwd_parcels.py
Due: none

Path conditions:
  check-python-dependencies: any of: ^data/src/Pipfile$
  prettier: any of: \.(js|jsx|ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
