Repository CodeForPhilly/clean-and-green-philly: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-python-dependencies, prettier, eslint

.pre-commit-config.yaml:

repos:
  # Python hooks
  - repo: local
    hooks:
      # Ruff for Python linting
      - id: ruff
        name: ruff (Python linting)
        entry: ruff check --fix
        language: python
        types_or: [python, pyi, jupyter]
        files: \.py$
        exclude: ^data/src/awkde/

      # Ruff for Python formatting
      - id: ruff-format
        name: ruff-format (Python formatting)
        entry: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        files: \.py$
        exclude: ^data/src/awkde/

      # Dependency checks for Python
      - id: check-python-dependencies
        name: Check Python dependencies
        entry: bash -c 'cd data/src && pipenv check --bare --quiet || (echo "Python dependencies check failed" && exit 1)'
        language: system
        files: ^data/src/Pipfile$

  - repo: https://github.com/jendrikseipp/vulture
    rev: 'v2.3' # or any later Vulture version
    hooks:
      - id: vulture
        name: vulture (Dead code detection)
        entry: vulture --exclude=data/src/awkde
        language: python
        types: [python]
        files: ^data/
        pass_failing_tests: true # Report, do not fail

  # JavaScript hooks
  - repo: local
    hooks:
      # Formatting with Prettier
      - id: prettier
        name: Prettier (Code formatting)
        entry: npm run format
        language: node
        files: \.(js|jsx|ts|tsx)$

      # Linting with ESLint
      - id: eslint
        name: ESLint (JavaScript linting)
        entry: npm run lint
        language: node
        files: \.(js|jsx|ts|tsx)$

      # Dependency checks for Node.js
      - id: npm-audit
        name: Check Node.js dependencies
        entry: npm audit
        language: node

update deps
  data/src/Pipfile
  data/src/Pipfile.lock
Due: check-python-dependencies

lint, format
  data/src/main.py
Due: none

add docstrings, typing; set num workers dynamically; minor tweaks to data creation
  data/src/new_etl/classes/featurelayer.py
  data/src/new_etl/data_utils/conservatorship.py
  data/src/new_etl/data_utils/contig_neighbors.py
  data/src/new_etl/data_utils/council_dists.py
  data/src/new_etl/data_utils/delinquencies.py
  data/src/new_etl/data_utils/dev_probability.py
  data/src/new_etl/data_utils/drug_crimes.py
  data/src/new_etl/data_utils/gun_crimes.py
  data/src/new_etl/data_utils/imm_dang_buildings.py
  data/src/new_etl/data_utils/kde.py
  data/src/new_etl/data_utils/li_complaints.py
  data/src/new_etl/data_utils/nbhoods.py
  data/src/new_etl/data_utils/negligent_devs.py
  data/src/new_etl/data_utils/opa_properties.py
  data/src/new_etl/data_utils/ppr_properties.py
  data/src/new_etl/data_utils/priority_level.py
  data/src/new_etl/data_utils/rco_geoms.py
  data/src/new_etl/data_utils/tree_canopy.py
  data/src/new_etl/data_utils/unsafe_buildings.py
  data/src/new_etl/data_utils/vacant_properties.py
Due: none

switch priority level calc to use z-score instead of percentile
  data/src/new_etl/data_utils/priority_level.py
Due: none

remove some logging
  data/src/new_etl/classes/featurelayer.py
  data/src/new_etl/data_utils/city_owned_properties.py
  data/src/new_etl/data_utils/community_gardens.py
  data/src/new_etl/data_utils/contig_neighbors.py
  data/src/new_etl/data_utils/negligent_devs.py
  data/src/new_etl/data_utils/pwd_parcels.py
Due: none

add draft database connection --no-verify
  data/src/main.py
Due: none

restore deleted files from src/
  data/src/classes/featurelayer.py
  data/src/constants/services.py
Due: none

commit working draft of hypertable creation (still needs to be cleaned up + reorg'd
  data/src/main.py
Due: none

successfully posting to postgres w tsdb extension
  data/src/main.py
Due: none

get constituent tables set up as hypertables
  data/src/main.py
  data/src/new_etl/classes/featurelayer.py
Due: none

add month partitioning and compression policies to hypertables
  data/src/main.py
  data/src/new_etl/classes/featurelayer.py
  data/src/new_etl/data_utils/vacant_properties.py
Due: none

add slack reporter for hypertable sizes
  data/src/main.py
  data/src/new_etl/classes/slack_pg_reporter.py
Due: none

ruff
  data/src/main.py
  data/src/new_etl/classes/featurelayer.py
  data/src/new_etl/classes/slack_pg_reporter.py
Due: none

relocate dev deps in pipfile; reinstall
  data/src/Pipfile
  data/src/Pipfile.lock
Due: check-python-dependencies

fix issue with incorrect comment
  data/src/main.py
Due: none

remove outdated parquet write to GCS
  data/src/new_etl/classes/featurelayer.py
Due: none

restore post to GCP; data diff not yet working correctly
  data/src/main.py
  data/src/new_etl/classes/slack_reporters.py
Due: none

modularize large parts of featurelayer; add slack reporter for data QC
  data/src/new_etl/classes/featurelayer.py
  data/src/new_etl/classes/slack_reporters.py
  data/src/new_etl/data_utils/community_gardens.py
Due: none

create new draft of diff report for new timestamp approach
  data/src/new_etl/classes/diff_report.py
Due: none

modularize database, data loaders components of featurelayer.py
  data/src/new_etl/database.py
  data/src/new_etl/loaders.py
Due: none

set up data diffing
  data/src/main.py
  data/src/new_etl/classes/diff_report.py
  data/src/new_etl/classes/slack_reporters.py
  data/src/new_etl/database.py
Due: none

update pip deps
  data/src/Pipfile
  data/src/Pipfile.lock
Due: check-python-dependencies

get diff report working
  data/src/Pipfile
  data/src/Pipfile.lock
  data/src/main.py
  data/src/new_etl/database.py
Due: check-python-dependencies

clean up logging; add try-except block if main.py fails
  data/src/main.py
  data/src/new_etl/classes/slack_reporters.py
  data/src/new_etl/data_utils/__init__.py
  data/src/new_etl/data_utils/contig_neighbors.py
  data/src/new_etl/data_utils/opa_properties.py
  data/src/new_etl/data_utils/pwd_parcels.py
  data/src/new_etl/data_utils/vacant_properties.py
Due: none

track data_diff.py class
  data/src/new_etl/classes/data_diff.py
Due: none

re-add geoalchemy2 to pipfile
  data/src/Pipfile
  data/src/Pipfile.lock
Due: check-python-dependencies

remove duplicate, outdated diff report file
  data/src/new_etl/classes/diff_report.py
Due: none

Revert "Replace mapbox geocoding control with maptile geocoding control"
  package-lock.json
  package.json
  src/components/MapLegendControl/MapLegend.tsx
  src/components/PropertyMap.tsx
Due: prettier, eslint

Revert "remove references to mapbox key, which we are no longer using"
  data/docker-compose.yml
  data/src/config/config.py
  data/src/script.py
  src/config/config.ts
Due: prettier, eslint

Revert part of PR "remove references to mapbox key, which we are no longer using"
  src/config/config.ts
Due: prettier, eslint

Addes map style button
  .eslintrc.json
  src/app/find-properties/[[...opa_id]]/page.tsx
  src/components/PropertyDetailSection.tsx
  src/components/PropertyMap.tsx
  src/components/components-css/PropertyMap.css
Due: prettier, eslint

Map Info is toggled off and removed map scale
  src/components/PropertyMap.tsx
Due: prettier, eslint

add 2025 roadmap
  docs/ROADMAP.md
Due: none

Now uses maptiler switch
  next.config.js
  package-lock.json
  package.json
  src/app/find-properties/[[...opa_id]]/page.tsx
  src/components/MapStyleSwitcher.tsx
  src/components/PropertyDetailSection.tsx
  src/components/PropertyMap.tsx
  src/components/index.ts
Due: prettier, eslint

Add pytest to CI
  .github/workflows/pr_checks_backend.yml
  data/src/classes/backup_archive_database.py
  data/src/classes/featurelayer.py
  data/src/new_etl/data_utils/diff_backup.py
  data/src/test/test_data_utils.py
Due: none

fixes gap and padding issues
  src/app/globals.css
  src/components/Header.tsx
  src/components/IconLink.tsx
Due: prettier, eslint

adjusts padding for bottom left details
  src/app/globals.css
Due: none

adjusts left padding for bottom left details
  src/app/globals.css
Due: none

removed aria related props
  src/components/ThemeButton.tsx
Due: prettier, eslint
