Repository CodeForPhilly/clean-and-green-philly: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-python-dependencies, prettier, eslint

.pre-commit-config.yaml:

repos:
  # Python hooks
  - repo: local
    hooks:
      # Ruff for Python linting
      - id: ruff
        name: ruff (Python linting)
        entry: ruff check --fix
        language: python
        types_or: [python, pyi, jupyter]
        files: \.py$
        exclude: ^data/src/awkde/

      # Ruff for Python formatting
      - id: ruff-format
        name: ruff-format (Python formatting)
        entry: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        files: \.py$
        exclude: ^data/src/awkde/

      # Dependency checks for Python
      - id: check-python-dependencies
        name: Check Python dependencies
        entry: bash -c 'cd data/src && pipenv check --bare --quiet || (echo "Python dependencies check failed" && exit 1)'
        language: system
        files: ^data/src/Pipfile$

  - repo: https://github.com/jendrikseipp/vulture
    rev: 'v2.3' # or any later Vulture version
    hooks:
      - id: vulture
        name: vulture (Dead code detection)
        entry: vulture --exclude=data/src/awkde
        language: python
        types: [python]
        files: ^data/
        pass_failing_tests: true # Report, do not fail

  # JavaScript hooks
  - repo: local
    hooks:
      # Formatting with Prettier
      - id: prettier
        name: Prettier (Code formatting)
        entry: npm run format
        language: node
        files: \.(js|jsx|ts|tsx)$

      # Linting with ESLint
      - id: eslint
        name: ESLint (JavaScript linting)
        entry: npm run lint
        language: node
        files: \.(js|jsx|ts|tsx)$

      # Dependency checks for Node.js
      - id: npm-audit
        name: Check Node.js dependencies
        entry: npm audit
        language: node

rename file
  .github/workflows/flag-stale.yml
Due: none

add radon to precommit hook
  .pre-commit-config.yaml
  data/src/Pipfile
  data/src/Pipfile.lock
Due: check-python-dependencies

remove all-contributors setup, since no longer really used
  .all-contributorsrc
  README.md
Due: none

set up PR to merge staging into main weekly
  .github/workflows/weekly-pr-to-main.yml
Due: none

fix bash script syntax error
  .github/workflows/weekly-pr-to-main.yml
Due: none

Replaced logo.svg with minified version
  public/logo.svg
Due: none

fix deprecated syntax
  .github/workflows/weekly-pr-to-main.yml
Due: none

another syntax fix for bash script
  .github/workflows/weekly-pr-to-main.yml
Due: none

try different approach
  .github/workflows/weekly-pr-to-main.yml
Due: none

remove label for pr
  .github/workflows/weekly-pr-to-main.yml
Due: none

update data dictionary
  docs/DATASETS.md
Due: none

remove data fetcher, fix park priority glitch, save pipeline output as parquet file in GCS
  data/Dockerfile-fetch-data
  data/docker-compose.yml
  data/src/classes/featurelayer.py
  data/src/data_utils/park_priority.py
  data/src/fetch_and_save_data.py
  data/src/script.py
Due: none

adding focus and keyboard accessibility to the cookie consent buttons
  src/components/CookieConsentBanner.tsx
  src/components/Footer.tsx
Due: prettier, eslint

add role of checkbox and label to group
  src/components/Filters/Panels.tsx
Due: prettier, eslint

filter li complaints and violations for only blight-related instances
  data/src/data_utils/l_and_i.py
Due: none

update owner types to include public
  data/src/data_utils/llc_owner.py
  data/src/data_utils/owner_type.py
  data/src/script.py
  src/components/FilterView.tsx
  src/components/Filters/DimensionFilter.tsx
Due: prettier, eslint

lint and format
  data/src/data_utils/access_process.py
  data/src/data_utils/city_owned_properties.py
  data/src/data_utils/conservatorship.py
Due: none

remove unneeded print statements
  data/src/data_utils/city_owned_properties.py
Due: none

update docs to reflect conversion from pmtiles to geojson
  docs/SETUP/BACK_END.md
Due: none

amberroseweeks-917-data-disclaimer
  src/app/find-properties/[[...opa_id]]/page.tsx
  src/components/DataDisclaimerModal.tsx
Due: prettier, eslint

skip precommit
  src/app/(content-pages)/donate/DonatePage.tsx
  src/app/(content-pages)/donate/layout.tsx
  src/app/(content-pages)/donate/page.tsx
  src/components/Header.tsx
Due: prettier, eslint

add pythonpath to docker container
  data/docker-compose.yml
Due: none

add pytest to back end CI workflow
  .github/workflows/pr_checks_backend.yml
Due: none

add donate to mobile header
  src/components/MobileNav.tsx
Due: prettier, eslint

limit disclaimer modal to only appear once
  src/components/DataDisclaimerModal.tsx
Due: prettier, eslint

add google cloud project to docker-compose environment
  data/docker-compose.yml
Due: none

add backup path for june 2024 vacant lots data
  data/src/data_utils/vacant_properties.py
Due: none

formatting and adding project name explicitly
  data/src/classes/featurelayer.py
Due: none

updating to use dynamic labels targetings the h2
  src/components/Filters/DimensionFilter.tsx
  src/components/Filters/Panels.tsx
Due: prettier, eslint

remove column name check
  data/src/script.py
Due: none

update formatting
  data/src/data_utils/access_process.py
Due: none

abstract kde function to generic; add parallel processing; refine resolution
  data/src/data_utils/drug_crimes.py
  data/src/data_utils/gun_crimes.py
  data/src/data_utils/kde.py
Due: none

update to reflect new syntax
  data/src/data_utils/priority_level.py
Due: none

fix warning message related to data downcasting
  data/src/data_utils/rco_geoms.py
Due: none

small logging changes
  data/src/data_utils/vacant_properties.py
Due: none

change to new unified PHS land care URL
  data/src/constants/services.py
Due: none

update function to reflect changes to underlying City dataset; add docstrings + typing
  data/src/data_utils/phs_properties.py
Due: none

update to reflect changes to phs properties fn
  data/src/data_utils/priority_level.py
Due: none

update PHS and gun crimes details; remove private/public ownership filter
  src/components/FilterView.tsx
  src/components/PropertyCard.tsx
  src/components/PropertyDetailSection.tsx
  src/components/SinglePropertyDetail.tsx
Due: prettier, eslint

remove parquet step
  data/src/classes/featurelayer.py
Due: none
