Repository CodeForPhilly/clean-and-green-philly: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-python-dependencies, prettier, eslint

check-python-dependencies:
  name: Check Python dependencies
  entry: bash -c 'cd data/src && pipenv check --bare --quiet || (echo "Python dependencies check failed" && exit 1)'
  language: system

prettier:
  name: Prettier (Code formatting)
  entry: npm run format
  language: node

eslint:
  name: ESLint (JavaScript linting)
  entry: npm run lint
  language: node

address npm error requiring package-lock
  .pre-commit-config.yaml
  package-lock.json
Due: none

add script to query database in docker container and write a local spatial data file for sharing w external partners
  .gitignore
  data/Dockerfile-fetch-data
  data/docker-compose.yml
  data/src/Pipfile
  data/src/Pipfile.lock
  data/src/config/config.py
  data/src/fetch_and_save_data.py
Due: check-python-dependencies

update github actions to reflect new docker builds
  .github/workflows/pr_checks_backend.yml
Due: none

update container image references for correct builds
  data/Dockerfile-fetch-data
  data/docker-compose.yml
Due: none

replace black and flake8 with ruff
  data/docker-compose.yml
Due: none

updaet vscode settings and github actions
  .github/workflows/pr_checks_backend.yml
  .vscode/settings.json
Due: none

update docs to reflect precommit instllation instructions
  docs/SETUP/BACK_END.md
  docs/SETUP/FRONT_END.md
Due: none

rebuild package-lock.json
  package-lock.json
Due: none

Revert package-lock.json to match main branch
  package-lock.json
Due: none

update front end docs to clarify python and pip installation for precommit
  docs/SETUP/FRONT_END.md
Due: none

Add precommit hook (#842)
  .pre-commit-config.yaml
  docs/SETUP/BACK_END.md
  docs/SETUP/FRONT_END.md
Due: none

fix formatting and linting errors
  .pre-commit-config.yaml
  data/docker-compose.yml
  data/src/data_utils/__init__.py
  data/src/data_utils/access_process.py
  data/src/data_utils/conservatorship.py
  data/src/data_utils/contig_neighbors.py
  data/src/data_utils/deliquencies.py
  data/src/data_utils/dev_probability.py
  data/src/data_utils/negligent_devs.py
Due: none

prevent builds from completing if they throw formatting or linting errors (previously exited with code 0 regardless)
  data/docker-compose.yml
Due: none

Delete 'multiSelectOptions' and use options prop for dropdown list
  src/components/Filters/DimensionFilter.tsx
  src/components/Filters/MultiSelect.tsx
Due: prettier, eslint

Revised handleSelectionChange to address new bugs
  src/components/Filters/DimensionFilter.tsx
  src/components/Filters/MultiSelect.tsx
Due: prettier, eslint

fix linting errors
  src/components/Filters/DimensionFilter.tsx
  src/components/Filters/MultiSelect.tsx
Due: prettier, eslint

fix typos in a11y statement
  src/app/(content-pages)/accessibility-statement/AccessibilityStatementPage.tsx
Due: prettier, eslint

add aria-hidden attr
  src/app/(content-pages)/accessibility-statement/AccessibilityStatementPage.tsx
Due: prettier, eslint

fix footer a11y issue
  src/components/Footer.tsx
Due: prettier, eslint

adjust link for a11y
  src/app/(content-pages)/accessibility-statement/AccessibilityStatementPage.tsx
Due: prettier, eslint

Update README.md
  README.md
Due: none

fix: GitHub repository link redirect issue on Methodology page (#878)
  src/app/(content-pages)/methodology/MethodologyPage.tsx
Due: prettier, eslint

Fix GitHub repository link redirect issue on Methodology page (#878)
  src/app/(content-pages)/methodology/MethodologyPage.tsx
Due: prettier, eslint

refactor: update redirect link to https://github.com/CodeForPhilly/clean-and-green-philly
  src/app/(content-pages)/methodology/MethodologyPage.tsx
Due: prettier, eslint

Fix GitHub repository link redirect issue on Methodology page (#878) (#883)
  src/app/(content-pages)/methodology/MethodologyPage.tsx
Due: prettier, eslint

task: Ensure image corners are rounded consistently
  src/components/InfoGraphicSection.tsx
Due: prettier, eslint

add prettierignore to exlcude ruff cache
  .prettierignore
  data/src/Pipfile.lock
  package-lock.json
Due: none

Commit package-lock.json changes
  package-lock.json
Due: none

Temporarily ignore package-lock.json in feature branch
  .github/workflows/build.yml
  .gitignore
  sonar-project.properties
Due: none

Temporarily ignore package-lock.json in feature branch
  .gitignore
Due: none

don't ignore package-lock.json
  .gitignore
Due: none

change build on branch to staging
  .github/workflows/build.yml
Due: none

Test sonarqube config
  src/components/Footer.tsx
Due: prettier, eslint

remove sonarqube setup
  .github/workflows/build.yml
  sonar-project.properties
Due: none

fix issue with how negligent devs are identified; add property counts for city owners
  data/src/data_utils/negligent_devs.py
Due: none

improve how percentiles are reported
  data/src/data_utils/drug_crimes.py
  data/src/data_utils/gun_crimes.py
Due: none

trim unndeeded fields; fix issues with .iloc
  data/src/classes/featurelayer.py
  data/src/data_utils/city_owned_properties.py
  data/src/data_utils/deliquencies.py
  data/src/data_utils/imm_dang_buildings.py
  data/src/data_utils/negligent_devs.py
  data/src/data_utils/phs_properties.py
  data/src/data_utils/priority_level.py
  data/src/data_utils/rco_geoms.py
  data/src/data_utils/unsafe_buildings.py
  data/src/script.py
Due: none

run checks
  data/src/Pipfile
  data/src/Pipfile.lock
  data/src/data_utils/park_priority.py
  data/src/test/test_data_utils.py
Due: check-python-dependencies

try fixing docker cmd
  .github/workflows/pr_checks_backend.yml
Due: none

see if removing data-fetcher build fixes things
  .github/workflows/pr_checks_backend.yml
Due: none

Path conditions:
  check-python-dependencies: any of: ^data/src/Pipfile$
  prettier: any of: \.(js|jsx|ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
