Repository CodeForPhilly/clean-and-green-philly: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-python-dependencies, radon-check, prettier, eslint

.pre-commit-config.yaml:

repos:
  # Python hooks
  - repo: local
    hooks:
      # Ruff for Python linting
      - id: ruff
        name: ruff (Python linting)
        entry: ruff check --fix
        language: python
        types_or: [python, pyi, jupyter]
        files: \.py$

      # Ruff for Python formatting
      - id: ruff-format
        name: ruff-format (Python formatting)
        entry: ruff format
        language: python
        types_or: [python, pyi, jupyter]
        files: \.py$

      # Dependency checks for Python
      - id: check-python-dependencies
        name: Check Python dependencies
        entry: bash -c 'cd data/src && pipenv check --bare --quiet || (echo "Python dependencies check failed" && exit 1)'
        language: system
        files: ^data/src/Pipfile$

      # Radon MI and Halstead checks
      - id: radon-check
        name: Radon Maintainability and Halstead Checks
        entry: |
          bash -c 'radon mi -s {} | grep -E " - [CDEF] \(" && echo "Radon MI grade below B detected!" && exit 1 || echo "All MI grades are B or above."
          radon hal {} -s | awk "/effort/ { if (\$3 > 2000) print FILENAME \": High Halstead effort:\" \$3 }"'
        language: system
        files: \.py$

  - repo: https://github.com/jendrikseipp/vulture
    rev: 'v2.3' # or any later Vulture version
    hooks:
      - id: vulture
        name: vulture (Dead code detection)
        entry: vulture data/
        language: python
        types: [python]
        files: ^data/

  # JavaScript hooks
  - repo: local
    hooks:
      # Formatting with Prettier
      - id: prettier
        name: Prettier (Code formatting)
        entry: npm run format
        language: node
        files: \.(js|jsx|ts|tsx)$

      # Linting with ESLint
      - id: eslint
        name: ESLint (JavaScript linting)
        entry: npm run lint
        language: node
        files: \.(js|jsx|ts|tsx)$

      # Dependency checks for Node.js
      - id: npm-audit
        name: Check Node.js dependencies
        entry: npm audit
        language: node

adjust docker setup to take into account changed module structure, remove data validation from main run until it is ready, and some small fixes
  data/Dockerfile
  data/docker-compose.yml
  data/src/main.py
  data/src/new_etl/classes/data_diff.py
  data/src/new_etl/classes/slack_reporters.py
  data/src/new_etl/validation/community_gardens.py
  data/src/new_etl/validation/kde.py
Due: radon-check

Merging in feature `pipeline-integration` branch (#1212)
  .gitignore
  data/Dockerfile
  data/Dockerfile-pg
  data/Dockerfile-timescale
  data/docker-compose.yml
  data/init_pg.sql
  data/init_pg_timescale.sql
  data/src/classes/featurelayer.py
  data/src/config/config.py
  data/src/config/psql.py
  data/src/data_utils/conservatorship.py
  data/src/data_utils/kde.py
  data/src/data_utils/park_priority.py
  data/src/data_utils/tree_canopy.py
  data/src/main.py
  data/src/new_etl/classes/data_diff.py
  data/src/new_etl/classes/featurelayer.py
  data/src/new_etl/classes/file_manager.py
  data/src/new_etl/classes/slack_reporters.py
  data/src/new_etl/data_utils/kde.py
  data/src/new_etl/data_utils/park_priority.py
  data/src/new_etl/data_utils/priority_level.py
  data/src/new_etl/data_utils/tree_canopy.py
  data/src/new_etl/data_utils/vacant_properties.py
  data/src/new_etl/database.py
  data/src/new_etl/validation/community_gardens.py
  data/src/new_etl/validation/kde.py
  data/src/test/conftest.py
  data/src/test/test_data_utils.py
  data/src/test/test_utils.py
Due: radon-check

Remove most code outside of new_etl
  data/src/classes/__init__.py
  data/src/classes/backup_archive_database.py
  data/src/classes/bucket_manager.py
  data/src/classes/diff_report.py
  data/src/classes/featurelayer.py
  data/src/classes/slack_error_reporter.py
  data/src/constants/__init__.py
  data/src/constants/services.py
  data/src/data_utils/__init__.py
  data/src/data_utils/access_process.py
  data/src/data_utils/city_owned_properties.py
  data/src/data_utils/community_gardens.py
  data/src/data_utils/conservatorship.py
  data/src/data_utils/contig_neighbors.py
  data/src/data_utils/deliquencies.py
  data/src/data_utils/dev_probability.py
  data/src/data_utils/drug_crimes.py
  data/src/data_utils/gun_crimes.py
  data/src/data_utils/imm_dang_buildings.py
  data/src/data_utils/kde.py
  data/src/data_utils/l_and_i.py
  data/src/data_utils/nbhoods.py
  data/src/data_utils/negligent_devs.py
  data/src/data_utils/opa_properties.py
  data/src/data_utils/owner_type.py
  data/src/data_utils/park_priority.py
  data/src/data_utils/phs_properties.py
  data/src/data_utils/ppr_properties.py
  data/src/data_utils/priority_level.py
  data/src/data_utils/rco_geoms.py
  data/src/data_utils/tactical_urbanism.py
  data/src/data_utils/tree_canopy.py
  data/src/data_utils/unsafe_buildings.py
  data/src/data_utils/utils.py
  data/src/data_utils/vacant_properties.py
  data/src/script.py
Due: radon-check

Fix beautiful soup path to find tpl shapefile
  data/src/data_utils/park_priority.py
Due: radon-check

Remove outdated tests
  data/src/test/test_diff_backup.py
  data/src/test/test_slack_error_reporter.py
Due: radon-check

remove some old code unrelated to new feature layer split
  data/src/new_etl/classes/featurelayer.py
  data/src/new_etl/data_utils/council_dists.py
  data/src/new_etl/data_utils/phs_properties.py
  data/src/new_etl/data_utils/rco_geoms.py
  data/src/new_etl/utilities.py
Due: radon-check

fixing a bunch of errors across the code base with the replacement
  data/src/main.py
  data/src/new_etl/classes/featurelayer.py
  data/src/new_etl/constants/services.py
  data/src/new_etl/data_utils/city_owned_properties.py
  data/src/new_etl/data_utils/contig_neighbors.py
  data/src/new_etl/data_utils/dev_probability.py
  data/src/new_etl/data_utils/dor_parcels.py
  data/src/new_etl/data_utils/imm_dang_buildings.py
  data/src/new_etl/data_utils/li_violations.py
  data/src/new_etl/data_utils/nbhoods.py
  data/src/new_etl/data_utils/opa_properties.py
  data/src/new_etl/data_utils/park_priority.py
  data/src/new_etl/data_utils/ppr_properties.py
  data/src/new_etl/data_utils/pwd_parcels.py
  data/src/new_etl/data_utils/rco_geoms.py
  data/src/new_etl/data_utils/tree_canopy.py
  data/src/new_etl/data_utils/unsafe_buildings.py
  data/src/new_etl/data_utils/vacant_properties.py
  data/src/new_etl/utilities.py
Due: radon-check

correct small stylistic changes and catch a breaking error in empty geometries for the kde services
  data/src/data_utils/unsafe_buildings.py
  data/src/new_etl/classes/featurelayer.py
  data/src/new_etl/data_utils/delinquencies.py
  data/src/new_etl/data_utils/imm_dang_buildings.py
  data/src/new_etl/data_utils/kde.py
  data/src/new_etl/data_utils/unsafe_buildings.py
  data/src/new_etl/loaders.py
Due: radon-check

fix some module level imports
  data/src/new_etl/classes/bucket_manager.py
  data/src/new_etl/classes/featurelayer.py
  data/src/test/test_loaders.py
Due: radon-check

rename and move around loader logic
  data/src/new_etl/classes/loaders.py
  data/src/new_etl/loaders.py
  data/src/test/test_loaders.py
Due: radon-check

fix remaining merge errors
  data/src/classes/featurelayer.py
  data/src/data_utils/kde.py
  data/src/data_utils/park_priority.py
  data/src/data_utils/tree_canopy.py
  data/src/test/test_loaders.py
Due: radon-check

fix remaining merge conflicts
  data/src/new_etl/data_utils/city_owned_properties.py
  data/src/new_etl/data_utils/community_gardens.py
  data/src/new_etl/data_utils/council_dists.py
  data/src/new_etl/data_utils/delinquencies.py
  data/src/new_etl/data_utils/dev_probability.py
  data/src/new_etl/data_utils/dor_parcels.py
  data/src/new_etl/data_utils/imm_dang_buildings.py
  data/src/new_etl/data_utils/kde.py
  data/src/new_etl/data_utils/li_violations.py
  data/src/new_etl/data_utils/nbhoods.py
  data/src/new_etl/data_utils/opa_properties.py
  data/src/new_etl/data_utils/phs_properties.py
  data/src/new_etl/data_utils/ppr_properties.py
  data/src/new_etl/data_utils/pwd_parcels.py
  data/src/new_etl/data_utils/rco_geoms.py
  data/src/new_etl/data_utils/tree_canopy.py
  data/src/new_etl/data_utils/unsafe_buildings.py
  data/src/new_etl/data_utils/vacant_properties.py
  data/src/new_etl/validation/community_gardens.py
  data/src/test/test_metadata_utils.py
Due: radon-check

Adjust some tests that need changed paths or are no longer relevant with the new loading structure
  data/src/new_etl/data_utils/city_owned_properties.py
  data/src/new_etl/data_utils/community_gardens.py
  data/src/new_etl/data_utils/contig_neighbors.py
  data/src/new_etl/data_utils/council_dists.py
  data/src/new_etl/data_utils/delinquencies.py
  data/src/new_etl/data_utils/dev_probability.py
  data/src/new_etl/data_utils/dor_parcels.py
  data/src/new_etl/data_utils/imm_dang_buildings.py
  data/src/new_etl/data_utils/li_violations.py
  data/src/new_etl/data_utils/phs_properties.py
  data/src/new_etl/data_utils/rco_geoms.py
  data/src/new_etl/data_utils/unsafe_buildings.py
  data/src/test/test_data_utils.py
  data/src/test/test_diff_backup.py
  data/src/test/test_loaders.py
  data/src/test/test_metadata_utils.py
Due: radon-check

mark a couple of test lines to be ignored by the linter
  data/src/test/test_data_utils.py
  data/src/test/test_metadata_utils.py
Due: radon-check

Remove remaining traces of Postgres
  .github/workflows/pr_checks_backend.yml
  data/Dockerfile
  data/Pipfile
  data/Pipfile.lock
  data/docker-compose.yml
  data/src/classes/data_diff.py
  data/src/classes/slack_reporters.py
  data/src/config/config.py
  data/src/config/psql.py
  data/src/data_utils/utils.py
  docs/SETUP/BACK_END.md
  docs/TECHNOLOGIES.md
Due: radon-check

Remove remaining traces of Postgres (#1228)
  .github/workflows/pr_checks_backend.yml
  data/Dockerfile
  data/Pipfile
  data/Pipfile.lock
  data/docker-compose.yml
  data/src/classes/data_diff.py
  data/src/classes/slack_reporters.py
  data/src/config/config.py
  data/src/config/psql.py
  data/src/data_utils/utils.py
  docs/SETUP/BACK_END.md
  docs/TECHNOLOGIES.md
Due: radon-check

undo change for old pipeline code
  data/src/data_utils/unsafe_buildings.py
Due: radon-check

update imports
  data/src/data_utils/city_owned_properties.py
  data/src/data_utils/community_gardens.py
  data/src/data_utils/contig_neighbors.py
  data/src/data_utils/council_dists.py
  data/src/data_utils/delinquencies.py
  data/src/data_utils/dev_probability.py
  data/src/data_utils/dor_parcels.py
  data/src/data_utils/imm_dang_buildings.py
  data/src/data_utils/li_violations.py
  data/src/data_utils/nbhoods.py
  data/src/data_utils/park_priority.py
  data/src/data_utils/phs_properties.py
  data/src/data_utils/ppr_properties.py
  data/src/data_utils/rco_geoms.py
  data/src/data_utils/tree_canopy.py
  data/src/data_utils/unsafe_buildings.py
Due: radon-check

feat(FilterView): added reset filter button
  src/components/FilterView.tsx
Due: prettier, eslint

Remove outdated streetview module / Docker service
  data/docker-compose.yml
  data/src/streetview.py
Due: radon-check

Remove python dependency check precommit hook
  .pre-commit-config.yaml
Due: none

Migrate pipenv / pipfile.lock to pyproject.toml/uv.lock
  data/Pipfile
  data/Pipfile.lock
  data/pyproject.toml
  data/uv.lock
Due: none

Rewrite Dockerfile to use uv, make other dependency installs faster
  data/Dockerfile
  data/docker-compose.yml
Due: none

Update CI workflows, given new Docker setup
  .github/workflows/pr_checks_backend.yml
Due: none

Update documenation given switch to Pipenv
  docs/SETUP/BACK_END.md
  docs/TECHNOLOGIES.md
Due: none

Add tests for the base validation logic and add validation chaining steps to the main pipeline as well as a few more services
  data/src/data_utils/access_process.py
  data/src/data_utils/city_owned_properties.py
  data/src/data_utils/community_gardens.py
  data/src/data_utils/conservatorship.py
  data/src/data_utils/contig_neighbors.py
  data/src/data_utils/council_dists.py
  data/src/data_utils/delinquencies.py
  data/src/data_utils/dev_probability.py
  data/src/data_utils/dor_parcels.py
  data/src/data_utils/drug_crimes.py
  data/src/data_utils/gun_crimes.py
  data/src/data_utils/imm_dang_buildings.py
  data/src/data_utils/li_complaints.py
  data/src/data_utils/li_violations.py
  data/src/data_utils/nbhoods.py
  data/src/data_utils/negligent_devs.py
  data/src/data_utils/opa_properties.py
  data/src/data_utils/owner_type.py
  data/src/data_utils/park_priority.py
  data/src/data_utils/phs_properties.py
  data/src/data_utils/ppr_properties.py
  data/src/data_utils/priority_level.py
  data/src/data_utils/pwd_parcels.py
  data/src/data_utils/rco_geoms.py
  data/src/data_utils/tactical_urbanism.py
  data/src/data_utils/tree_canopy.py
  data/src/data_utils/unsafe_buildings.py
  data/src/data_utils/vacant_properties.py
  data/src/main.py
  data/src/test/test_validation.py
  data/src/validation/__init__.py
  data/src/validation/base.py
  data/src/validation/dev_probability.py
  data/src/validation/drug_crimes.py
  data/src/validation/gun_crimes.py
  data/src/validation/li_complaints.py
  data/src/validation/park_priority.py
  data/src/validation/pwd_parcels.py
Due: radon-check

fix arguments for opa_properties and the validation decorator
  data/src/data_utils/opa_properties.py
  data/src/validation/base.py
Due: radon-check

remove metadata decorators from pipeline
  data/src/data_utils/access_process.py
  data/src/data_utils/city_owned_properties.py
  data/src/data_utils/community_gardens.py
  data/src/data_utils/conservatorship.py
  data/src/data_utils/contig_neighbors.py
  data/src/data_utils/council_dists.py
  data/src/data_utils/delinquencies.py
  data/src/data_utils/dev_probability.py
  data/src/data_utils/drug_crimes.py
  data/src/data_utils/imm_dang_buildings.py
  data/src/data_utils/li_complaints.py
  data/src/data_utils/li_violations.py
  data/src/data_utils/nbhoods.py
  data/src/data_utils/negligent_devs.py
  data/src/data_utils/opa_properties.py
  data/src/data_utils/owner_type.py
  data/src/data_utils/park_priority.py
  data/src/data_utils/phs_properties.py
  data/src/data_utils/ppr_properties.py
  data/src/data_utils/priority_level.py
  data/src/data_utils/pwd_parcels.py
  data/src/data_utils/rco_geoms.py
  data/src/data_utils/tactical_urbanism.py
  data/src/data_utils/tree_canopy.py
  data/src/data_utils/unsafe_buildings.py
  data/src/data_utils/vacant_properties.py
Due: radon-check

small errors
  data/src/data_utils/opa_properties.py
  data/src/data_utils/vacant_properties.py
  data/src/main.py
Due: radon-check

pass input validation through chained kde functions
  data/src/data_utils/dev_probability.py
  data/src/data_utils/drug_crimes.py
  data/src/data_utils/gun_crimes.py
  data/src/data_utils/kde.py
  data/src/data_utils/li_complaints.py
  data/src/data_utils/pwd_parcels.py
  data/src/data_utils/vacant_properties.py
  data/src/main.py
Due: radon-check

fix import path for the Philadelphia city limits
  data/src/constants/city_limits.py
  data/src/validation/base.py
Due: radon-check

Cleaned branch to match staging
  src/components/PropertyMap.tsx
Due: prettier, eslint

Added onMouseUp fix after testing in preview
  src/components/PropertyMap.tsx
Due: prettier, eslint

Notes added by 'git notes add'
  e92b9f11757604381dd8b0f3d8793c62438952d8
Due: none

edited yaml for vulture and npm-audit steps
  .pre-commit-config.yaml
Due: none
